
 .contact-hero{
    background: linear-gradient(rgba(21,36,63,0.9), rgba(21,36,63,0.9)),
                url('https://images.unsplash.com/photo-1497366216548-37526070297c');
    background-size:cover;
    background-position:center;
    text-align:center;
    padding:100px 20px;
    color:white;
}
 
.contact-hero h5{
    color:#00c2a8;
    letter-spacing:2px;
    font-size:14px;
}
 
.contact-hero h1{
    font-size:48px;
    margin:15px 0;
}
 
.contact-hero p{
    max-width:600px;
    margin:0 auto;
    opacity:0.8;
}
 
.contact-wrapper{
    background:white;
    padding:70px 0px;
}
.contact-inner-wrapper {
    max-width: 1200px;
    display: flex;
    margin: auto;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 25px 50px #2E3C5C25;
}
.contact-info{
    background:#2f3e5c;
    color:white;
    padding:50px 40px;
    width:40%;
}
.info-con strong {
    font-weight: 700 !important;
}
.contact-info h2{
    margin-bottom:15px;
}
 
.contact-info p{
    font-size:14px;
    opacity:0.8;
    margin-bottom:30px;
}
 
.contact-info .info-item {
    margin-bottom: 25px;
    display: flex;
    align-items: center;
    gap: 18px;
}
.info-svg svg path,
.info-svg svg circle {
  stroke: #00A699;
}
.svg-group {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-top: 20px;
}
.svg-gropu-item {
    padding: 14px 14px 8px 14px;
    background-color: #ffffff14;
    border-radius: 50%;
}
.content-right h4 {
    color: #ffffffa1;
    font-size: 15px;
    font-weight: 700 !important;
}
.info-svg {
    border: 1px solid #ffffff33;
    padding: 10px 10px 5px 10px;
    border-radius: 50%;
    background-color: #ffffff0a;
}
.info-con {
    color: #D1D5DB !important;
    font-size: 14px !important;
    line-height: 20px !important;
    font-weight: 300;
}
.contact-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.contact-form{
    width:60%;
    padding:50px 40px;
}
 
.contact-form h2{
    margin-bottom:10px;
}
 
.contact-form p{
    font-size:14px;
    opacity:0.7;
    margin-bottom:30px;
}
 
.form-row{
    display:flex;
    gap:15px;
    margin-bottom:20px;
}
 
input, select, textarea{
    width:100%;
    padding:12px 15px;
    border:1px solid #ddd;
    border-radius:8px;
    font-size:14px;
    outline:none;
}
 
textarea{
    resize:none;
    height:120px;
}
 
button{
    background:#00a896;
    color:white;
    border:none;
    padding:14px 25px;
    border-radius:8px;
    cursor:pointer;
    font-weight:600;
    transition:0.3s;
}
 
button:hover{
    background:#00897b;
}
 
 
 
 
.map-section iframe{
    width:100%;
    height:450px;
    border:0;
}
 
 
.faq{
    text-align:center;
    padding:80px 20px;
}
 
.faq h2{
    margin-bottom:15px;
}
 
.faq p{
    opacity:0.7;
    margin-bottom:25px;
}
 
.faq a{
    text-decoration:none;
    color:#00a896;
    font-weight:600;
}
 
 
@media(max-width:980px){
    .contact-wrapper {
    background: white;
    padding: 50px 20px;
}
    .contact-inner-wrapper {
    flex-direction: column;
}
    .contact-info, .contact-form{
        width:100%;
        padding: 50px 21px;
    }
    .form-row{
        flex-direction:column;
    }
}

 
.success-message {
  background-color: #d4edda;
  color: #155724;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  margin-top: 20px;
  
}

.success-message h3 {
  margin: 0;
  font-size: 18px;
}
